<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <!-- para utilizar thymeleaf se le agrega al html el xmlns:th -->
    <head>
        <meta charset="UTF-8">
        <title>Registro de Propiedades</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Thirteenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                    <a class="navbar-brand col-lg-3 me-0" th:href=@{/}><img src="/img/logo4.png" width="90" height="90" alt="alt"/>PropZona</a>
                    <ul class="navbar-nav col-lg-6 justify-content-lg-center">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">Propiedades</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href=@{/propiedad/registrar}>Registrar Propiedad</a></li>
                                <li><a class="dropdown-item" th:href=@{/propiedad/listar}>Listar Propiedades</a></li>
                            </ul>
                        </li>

<!--                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">Autores</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href=@{/autor/registrar}>Registrar Autor</a></li>
                                <li><a class="dropdown-item" th:href=@{/autor/listar}>Listar Autores</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">Editoriales</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href=@{/editorial/registrar}>Registrar Editorial</a></li>
                                <li><a class="dropdown-item" th:href=@{/editorial/listar}>Listar Editoriales</a></li>
                            </ul>
                        </li>
                    </ul>-->
                </div>

            </div>
        </nav>

        <div class="titulo">
            <h1 align="center">Registrar una nueva Propiedad</h1>
        </div>

        <div class="formulario" align="center">
            <form action="/propiedad/registro" method="post">
                <!-- modificado -->
                <div th:if="${error != null}" class="div-error">
                    <h5>Error</h5>
                    <p th:text="${error}"></p>
                </div>

                <div th:if="${exito != null}" class="div-exito">
                    <h5>Éxito</h5>
                    <p th:text="${exito}"></p>
                </div>
                    <label class="mb-2">Cargar Propiedad</label>
                    <input type="number" name="id" placeholder="ID">

                    <br><br>

                    <input type="text" name="titulo" placeholder="Título de la Propiedad">

                    <br><br>
                    <input type="text" name="calle" placeholder="Calle donde se encuentra la Propiedad">

                    <br><br>
    
                    <input type="number" name="direccion" placeholder="Direccion donde se encuentra la Propiedad">

                    <br><br>
                    <input type="text" name="localidad" placeholder="Localidad donde se encuentra la Propiedad">

                    <br><br>
                    <input type="text" name="provincia" placeholder="Provincia donde se encuentra la Propiedad">

                    <br><br>

<!--                    <div class="form-group my-3">

                        <select name="idAutor">
                             select con el nombre de los valores que llegan al controlador 
                            <option>Seleccionar Autor</option>
                             th:each como el for each con la lista ${autores} va a ser iterada 
                            por un auxiliar que se llama autor   
                             th:value valor que viaja en la seleccion id del autor en este caso  
                             texto que se ve con th:text en este caso el nombre del autor 
                            <option th:each="autor : ${autores}"

                                    th:value="${autor.id}"

                                    th:text="${autor.nombre}"></option>
                        </select>
                    </div>

                    <br><br>

                    <div class="form-group my-3">
                        <select name="idEditorial">
                            <option>Seleccionar Editorial</option>
                            <option th:each="editorial : ${editoriales}"
                                    th:value="${editorial.id}"
                                    th:text="${editorial.nombre}"></option>
                        </select>
                    </div>

                    <br><br>-->

                    <button type="submit" class="btn-registrar">Registrar Propiedad</button>
                    <!-- se usa th:if es una condicion de  Thymeleaf siempre es th: y la etiqueta en este caso if
                    esto es = $(valor o variable que viaja){ si el error es distinto de nulo muestra el mensaje}-->
                    <div th:if="${error != null}" class="div-error">
                        <h5>Error</h5>
                        <!--th:text es otra etiqueta de thymeleaf = al valor que viene con la llave error-->
                        <p th:text="${error}"></p>
                    </div>

                    <div th:if="${exito != null}" class="div-exito">
                        <h5>Éxito</h5>
                        <p th:text="${exito}"></p>
                    </div>

            </form>
        </div>
             <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/index.css">
    </body>
</html>